{% extends "layout.html" %} {% block content %} 
<div class="container">
    {% for quiz in quizzes %} 
	    <div class="row">
            <a class="span2 btn btn-primary btn-block" target="_blank" href="{{url_for('generateQuiz', quizID=quiz)}}">Quiz {{quiz}}</a> <br />
		</div>
	{% endfor %}
	{% if finalExamAvailable %}
	<br />
    <div class="row">
        <a class="span2 btn btn-primary btn-block" target="_blank" href="{{url_for('generateExam')}}">Final Exam</a> 
    </div>
    {% endif %}
</div>
{% endblock %}