{% extends "layout.html" %} {% block content %} 
<div class="container-fluid">
	<table>
		<tr>
			<td width="80%">
				<a href="{{ url_for('choseClass', mode=fromMode, the_class='9a') }}" style="width: 200px; min-width:200px;" class="btn btn-primary btn-large">
					9A (Matlab) 
				</a>
				<br /> 
				<br /> 
				<a href="{{ url_for('choseClass', mode=fromMode, the_class='9c') }}" style="width: 200px; min-width:200px;" class="btn btn-primary btn-large">
					9C (C) 
				</a>
				<br /> 
				<br /> 
				<a href="{{ url_for('choseClass', mode=fromMode, the_class='9e') }}" style="width: 200px; min-width:200px;" class="btn btn-primary btn-large">
					9E (Unix) 
				</a>
				<br /> 
				<br /> 
				<a href="{{ url_for('choseClass', mode=fromMode, the_class='9f') }}" style="width: 200px; min-width:200px;" class="btn btn-primary btn-large">
					9F (C++) 
				</a>
				<br /> 
				<br /> 
				<a href="{{ url_for('choseClass', mode=fromMode, the_class='9g') }}" style="width: 200px; min-width:200px;" class="btn btn-primary btn-large">
					9G (Java) 
				</a>
				<br /> 
				<br /> 
				<a href="{{ url_for('choseClass', mode=fromMode, the_class='9h') }}" style="width: 200px; min-width:200px;" class="btn btn-primary btn-large">
					9H (Python) 
				</a>
			</td>
			<td>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</td>
			<td>
				<img src="{{ url_for('static', filename='img/possibly47abc.png') }}"> 
				</td>
			</tr>
		</table>
	</div>
{% endblock %}