{% extends "layout.html" %} {% block content %} 
<table class="table table-striped table-bordered">
<thead>
<tr>
<td>Question ID</td>
<td>Quiz #</td>
<td>Tags</td>
<td>Question</td>
{% for question in questions %}
    <tr>
        <td><a href="editQuestion?questionID={{question.id}}">{{question.id}}</a></td>
        <td>{{question.quiz}}</td>
        <td>{{question.shortenedDecryptedTags()}}</td>
        <td>{{question.shortenedDecryptedQuestionWithMarkup()}}</td>
    <tr>
{% endfor %}
</table> 
{% endblock %}