{% extends "layout.html" %} {% block content %} 
<table>
	<tr>
		<td width="50%">
			<form method="post" action="editQuestion?questionID={{questionToDisplay.id}}" class="well span6">
				{{form.hidden_tag()}} 
				<div class="control-group">
					<label class="control-label" for="quiz">
						Quiz: 
					</label>
					{{form.quiz}}
				</div>
			<div class="span6">
					<label class="control-label" for="tags">
						Tags: 
					</label>
					{{form.tags(rows=1,cols=100)}} <small>(comma separated)</small>
				</div>
				<div class="control-group">
					<label class="control-label" for="instructions">
						Instructions: 
					</label>
					{{form.instructions(rows=5,cols=100)}} 
				</div>
				<div class="control-group">
					<label class="control-label" for="question">
						Question: 
					</label>
					{{form.question(rows=5,cols=100)}} 
				</div>
				<div class="control-group">
					<label class="control-label" for="examples">
						Examples: 
					</label>
					{{form.examples(rows=5,cols=100)}} 
				</div>
				<div class="control-group">
					<label class="control-label" for="hints">
						Hints/Cautions/etc.: 
					</label>
					{{form.hints(rows=5,cols=100)}} 
				</div>
                <div class="control-group">
                    <label class="control-label" for="answer">
                        Answer: 
                    </label>
                    {{form.answer(rows=5,cols=100)}} 
                </div>
                <div class="control-group">
                    <label class="control-label" for="reviewed1">
                        Reviewed by: 
                    </label>
                {% if questionToDisplay.reviewers[0] %}
                    {{questionToDisplay.reviewers[0].fullname}} 
                    &lt;{{questionToDisplay.reviewers[0].email}}&gt;
                {% else %}
                    <i>Nobody</i>
                {% endif %}
                </div>
                <div class="control-group">
                    <label class="control-label" for="reviewed2">
                        Reviewed by: 
                    </label>
                {% if questionToDisplay.reviewers[1] %}
                    {{questionToDisplay.reviewers[1].fullname}} 
                    &lt;{{questionToDisplay.reviewers[1].email}}&gt;
                {% else %}
                    <i>Nobody</i>
                {% endif %}
                </div>
                <div class="control-group">
                    <label class="control-label" for="reviewed3">
                        Reviewed by: 
                    </label>
                {% if questionToDisplay.reviewers[2] %}
                    {{questionToDisplay.reviewers[2].fullname}} 
                    &lt;{{questionToDisplay.reviewers[2].email}}&gt;
                {% else %}
                    <i>Nobody</i>
                {% endif %}
                </div>
 				<div class="control-group">
                    <button type="submit" class="btn btn-primary center" name='button' value="done">
                        Save 
                    </button>
                    <button type="submit" class="btn btn-danger center" name='button' value="delete">
                        Delete 
                    </button>
				</div>
			</form>
		</td>
		<td style="vertical-align:top;" td width="50%">
			<h3>
				Similar Questions 
			</h3>
			<div class="tabbable">
				<ul class="nav nav-tabs">
				    {% for similarQuestion in similaryQuestionsToDisplay %}
    				    {% if loop.first %}
    					   <li class="active">
    					{% else %}
    					   <li>
    					{% endif %}
						<a href="#tab{{loop.index}}" data-toggle="tab">
							#{{loop.index}}
						</a>
					</li>
					{% endfor %}
				</ul>
				<div class="tab-content">
                    {% for similarQuestion in similaryQuestionsToDisplay %}
                        {% if loop.first %}
    					   <div class="tab-pane active" id="tab{{loop.index}}">
    					{% else %}
    					   <div class="tab-pane" id="tab{{loop.index}}">
    					{% endif %}
                        <p>{{similarQuestion.tags}}</p> 
                        <p>{{similarQuestion.instructions}}</p> 
                        <p>{{similarQuestion.question}}</p> 
                        <p>{{similarQuestion.examples}}</p> 
                        <p>{{similarQuestion.hints}}</p> 
                        <p>{{similarQuestion.answer}}</p>
                        </div> 
					{% endfor %}
				</div>
            </div>
		</td>
	</tr>
</table>
{% endblock %}