{% extends "layout.html" %} {% block content %} 
<h2>
	Help 
</h2>
<b>
	Write a Question:
</b>
Create a new question. <br /> <br /> 
<b>
	Edit a Question:
</b>
Edit one of your previously written questions. <br /> <br /> 
<b>
	Review a Question:
</b>
Review someone else's question. <br /> <br /> 
<b>
	Generate Quiz or Exam:
</b>
Generate a quiz or final exam from reviewed questions. <br /> <br /> 
<b>
	Retrieve Previous Quiz or Exam:
</b>
Recall a previously generated quiz or exam by version id. {% endblock %} 