{% extends "layout.html" %} {% block content %} 
<table>
	<tr>
		<td>
			<h2>
				Questions 
			</h2>
			<br /> 
			<a href="{{ url_for('chooseClass', mode='Write') }}" style="width: 200px; min-width:200px;" class="btn btn-primary btn-large">
				<i class="icon-white icon-plus">
				</i>
				Write 
			</a>
			<br /> 
			<br /> 
			<a href="{{ url_for('chooseClass', mode='Edit') }}" style="width: 200px; min-width:200px;" class="btn btn-primary btn-large">
				<i class="icon-white icon-pencil">
				</i>
				Edit 
			</a>
			<br /> 
			<br /> 
			<a href="{{ url_for('chooseClass', mode='Review') }}" style="width: 200px; min-width:200px;" class="btn btn-primary btn-large">
				<i class="icon-white icon-ok">
				</i>
				Review 
			</a>
			<br /> 
			<br /> 
			<h2>
				Quizzes &amp; Exams 
			</h2>
			<br /> 
			<a href="{{ url_for('chooseClass', mode='Generate') }}" style="width: 200px; min-width:200px;" class="btn btn-primary btn-large">
				<i class="icon-white icon-print">
				</i>
				Generate 
			</a>
			<br /> 
			<br /> 
			<a href="{{ url_for('retrieveQuizOrExam') }}" style="width: 200px; min-width:200px;" class="btn btn-primary btn-large">
				<i class="icon-white icon-file">
				</i>
				Retrieve 
			</a>
		</td>
		{% if superuserAndUnverifiedUsers %} 
		<td style="vertical-align:center;">
			<a href="{{ url_for('verifyUsers') }}" style="width: 200px; min-width:200px;" class="btn btn-warning btn-large">
				<i class="icon-white icon-file">
				</i>
				Approve Users 
			</a>
		</td>
		{% endif %} 
	</tr>
</table>
{% endblock %}