{% extends "layout.html" %} {% block content %} 
<table width="100%">
	<tr>
	<th></th>
	{% if isAdmin %} 
	<th>Admin</th>
	{% endif %}
	{% if isDebugging %}
	<th>Debug</th>
	{% endif %}
	</tr>
	<tr>
		<td>
			<h2>
				Questions 
			</h2>
			<br /> 
			<a href="{{ url_for('chooseClass', mode='Write') }}" style="width: 200px; min-width:200px;" class="btn btn-primary btn-large">
				<i class="glyphicon glyphicon-plus">
				</i>
				Write 
			</a>
			<br /> <br /> 
			<a href="{{ url_for('chooseClass', mode='Edit') }}" style="width: 200px; min-width:200px;" class="btn btn-primary btn-large">
				<i class="glyphicon glyphicon-pencil">
				</i>
				Edit 
			</a>
			<br /> <br /> 
			<a href="{{ url_for('chooseClass', mode='Review') }}" style="width: 200px; min-width:200px;" class="btn btn-primary btn-large">
				<i class="glyphicon glyphicon-ok">
				</i>
				Review 
			</a>
			<br /> <br /> 
			<h2>
				Quizzes &amp; Exams 
			</h2>
			<br /> 
			<a href="{{ url_for('chooseClass', mode='Generate') }}" style="width: 200px; min-width:200px;" class="btn btn-primary btn-large">
				<i class="glyphicon glyphicon-print">
				</i>
				Generate 
			</a>
			<br /> <br /> 
			<a href="{{ url_for('retrieveQuizOrExam') }}" style="width: 200px; min-width:200px;" class="btn btn-primary btn-large">
				<i class="glyphicon glyphicon-file">
				</i>
				Retrieve 
			</a>
			<br /> <br /> 
			<h2>
				Media
			</h2>
			<br /> 
			<a href="{{ url_for('chooseClass', mode='Media') }}" style="width: 200px; min-width:200px;" class="btn btn-primary btn-large">
				<i class="glyphicon glyphicon-th-list">
				</i>
				Manage 
			</a>
		</td>
		{% if isAdmin %} 
		{% if hasUnverifiedUsers %} 
		<td style="vertical-align:center;">
			<a href="{{ url_for('verifyUsers') }}" style="width: 200px; min-width:200px;" class="btn btn-warning btn-large">
				<i class="glyphicon glyphicon-user">
				</i>
				Approve Users 
			</a>
		</td>
		{% endif %}
		{% if isDebugging %} 
		<td>
		<table>
			<tr>
				<td>
					<a href="{{ url_for('adminDatabaseReset') }}" style="width: 200px; min-width:200px;" class="btn btn-danger btn-large">
						<i class="glyphicon glyphicon-trash">
						</i>
						Reset Database 
					</a>
				</td>
			</tr>
			<tr><td>&nbsp;</td></tr>
			<tr>
				<td>
					<a href="{{ url_for('adminTesting') }}" style="width: 200px; min-width:200px;" class="btn btn-danger btn-large">
					<i class="glyphicon glyphicon-cog">
						</i>
						Testing...
					</a>
				</td>
			</tr>
			</table>
		</td>
		{% endif %} 
		{% endif %}
	</tr>
</table>
{% endblock %}