{% extends "layout.html" %} {% block head %} 
<style>
    td {text-align:center;vertical-align:middle;}
    img {height:64px;}
</style>
<script type="text/javascript">

    $('.table-hover tr').click(function () { question = $(this).data("image"); window.location.href = {{url_for('imageStatistics',imageID=image)}}; })
</script>
{% endblock %} {% block content %} 
<table class="table table-striped table-bordered table-condensed table-hover">
	<thead>
		<tr>
			<td> ID </td>
			{% if isDebugging %}
			<td> DEBUGGING: /path/to </td>
			{% endif %} 
			<td> "Human Readable" Name </td>
			<td> Image </td>
	</thead>
	<tbody>
		{% for image in imagesToDisplay %} 
		<tr data-image=image.id>
			<td> <a href="{{url_for('imageStatistics',imageID=image.id)}}"> {{image.id}} </a> </td>
			{% if isDebugging %} 
			<td> {{image.cachePath}} </td>
			{% endif %} 
			<td> {{image.name}} </td>
			<td> <img src="{{image.cachePath}}"> </td>
		<tr>
			{% endfor %} 
	</tbody>
</table>
<a href="{{ url_for('uploadMedia') }}" style="width: 200px; min-width:200px;" class="btn btn-primary btn-large"> <i class="glyphicon glyphicon-file"> </i> Upload Image </a> {% endblock %}