{% extends "layout.html" %} {% block content %} 
<h2 class="text-center">
	Retrieve Quiz or Exam 
</h2>
<br /> <br /> 
<form method="post" action="{{url_for('retrieveQuizOrExam')}}" class="form-horizontal" role="form">
	<div class="form-group">
		<label for="code" class="col-lg-2 control-label">
			Code: 
		</label>
		<div class="col-lg-10">
		<input type="text" class="form-control" name="code" id="code" placeholder="9#.##.##.##.##...">
		</div>
	</div>
    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <button type="submit" class="btn btn-primary">
                Retrieve 
            </button>
        </div>
    </div>
</form>
{% endblock %}