{% extends "layout.html" %} 
{% block head %}
{% endblock %}
{% block content %} 
{% if form.errors %}
    <ul class="errors">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endif %}
<table>
    <tr>
        <td width="50%">
            <form method="post" action="reviewQuestion?questionID={{questionToDisplay.id}}" class="span6">
                {{form.hidden_tag()}} 
                        <b>Quiz</b>
                    <hr>
                    {{questionToDisplay.quiz}}
                <br />
                <br />
                        <b>Tags</b>
                    <hr>
                    {{questionToDisplay.tags}} 
                    {{form.tagsComments(rows=1,cols=100,placeholder="Comments on Tags")}}
                <br />
                <br />
                        <b>Instructions</b>
                    <hr>
                    {{questionToDisplay.instructions}} 
                    {{form.instructionsComments(rows=2,cols=100,placeholder="Comments on Instructions")}}
                <br />
                <br />
                        <b>Question</b>
                    <hr>
                    {{questionToDisplay.question}} 
                    {{form.questionComments(rows=2,cols=100,placeholder="Comments on Questions")}}
                    <br />
                <br />
                        <b>Examples</b>
                    <hr>
                    {{questionToDisplay.examples}} 
                    {{form.examplesComments(rows=2,cols=100,placeholder="Comments on Examples")}}
                    <br />
                <br />
                        <b>Hints/Cautions/etc.</b>
                    <hr>
                    {{questionToDisplay.hints}} 
                    {{form.hintsComments(rows=2,cols=100,placeholder="Comments on Hints/Cautions/etc.")}}
                    <br />
                <br />
                        <b>Answer</b>
                    <hr>
                    {{questionToDisplay.answer}} 
                    {{form.answerComments(rows=2,cols=100,placeholder="Comments on Answers")}}
                    <br />
                <br/ >
                <br />
                <table table-striped table-hover>
                    {% for reviewer in questionToDisplay.reviewers %}
                    <tr><td>
                    <label class="control-label" for="reviewed1">
                        Reviewed by: 
                    </label>
                    {{reviewer.fullname}}
                    </td><td> 
                    &lt;{{reviewer.email}}&gt;
                    </td><td> 
                    {% if reviewersSaidOKToDisplay[loop.index] %}
                    <span class="glyphicon glyphicon-ok"></span>
                    {% else %}
                    <span class="glyphicon glyphicon-thumbs-down"></span>
                    {% endif %}
                    </td></tr>
                {% endfor %}
                    </table>
                <br/ >
                <br />
                    <button type="submit" class="btn btn-success center" name='button' value="good">
                        Looks Good 
                    </button>
                    <button type="submit" class="btn btn-warning center" name='button' value="needswork">
                        Needs Work 
                    </button>
            </form>
        </td>
        <td style="vertical-align:top;" td width="50%">
            <h3>
                Similar Questions 
            </h3>
            <div class="tabbable">
                <ul class="nav nav-tabs">
                    {% for similarQuestion in similaryQuestionsToDisplay %}
                        {% if loop.first %}
                           <li class="active">
                        {% else %}
                           <li>
                        {% endif %}
                        <a href="#tab{{similarQuestion.id}}" data-toggle="tab">
                            #{{similarQuestion.id}}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                <div class="tab-content">
                    {% for similarQuestion in similaryQuestionsToDisplay %}
                        {% if loop.first %}
                           <div class="tab-pane active" id="tab{{similarQuestion.id}}">
                        {% else %}
                           <div class="tab-pane" id="tab{{similarQuestion.id}}">
                        {% endif %}
                        <p>
                            {{similarQuestion.question}} 
                        </p>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>
{% endblock %}