{% extends "layout.html" %} {% block content %} 
{% if form.errors %}
    <ul class="errors">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endif %}
<table>
    <tr>
        <td width="50%">
            <form method="post" action="reviewQuestion?questionID={{questionToDisplay.classID}}" class="well span6">
                {{form.hidden_tag()}} 
                <div class="control-group">
                    <label class="control-label" for="quiz">
                        Quiz: 
                    </label>
                    {{questionToDisplay.quiz}}
                </div>
            <div class="span6">
                    <label class="control-label" for="code">
                        Tags: 
                    </label>
                    {{questionToDisplay.tags}} 
                    {{form.tagsComments(rows=1,cols=100,placeholder="Comments on Tags")}}
                </div>
                <div class="control-group">
                    <label class="control-label" for="instructions">
                        Instructions: 
                    </label>
                    {{questionToDisplay.instructions}} 
                    {{form.instructionsComments(rows=2,cols=100,placeholder="Comments on Instructions")}}
                    <br />
                </div>
                <div class="control-group">
                    <label class="control-label" for="question">
                        Question: 
                    </label>
                    {{questionToDisplay.question}} 
                    {{form.questionComments(rows=2,cols=100,placeholder="Comments on Questions")}}
                    <br />
                </div>
                <div class="control-group">
                    <label class="control-label" for="examples">
                        Examples: 
                    </label>
                    {{questionToDisplay.examples}} 
                    {{form.examplesComments(rows=2,cols=100,placeholder="Comments on Examples")}}
                    <br />
                </div>
                <div class="control-group">
                    <label class="control-label" for="hints">
                        Hints/Cautions/etc.: 
                    </label>
                    {{questionToDisplay.hints}} 
                    {{form.hintsComments(rows=2,cols=100,placeholder="Comments on Hints/Cautions/etc.")}}
                    <br />
                </div>
                <div class="control-group">
                    <label class="control-label" for="answer">
                        Answer: 
                    </label>
                    {{questionToDisplay.answer}} 
                    {{form.answerComments(rows=2,cols=100,placeholder="Comments on Answers")}}
                    <br />
                </div>
                <div class="control-group">
                    <label class="control-label" for="reviewed1">
                        Reviewed by: 
                    </label>
                {% if questionToDisplay.reviewers[0] %}
                    {{questionToDisplay.reviewers[0].fullname}} 
                    &lt;{{questionToDisplay.reviewers[0].email}}&gt;
                {% else %}
                    <i>Nobody</i>
                {% endif %}
                </div>
                <div class="control-group">
                    <label class="control-label" for="reviewed2">
                        Reviewed by: 
                    </label>
                {% if questionToDisplay.reviewers[1] %}
                    {{questionToDisplay.reviewers[1].fullname}} 
                    &lt;{{questionToDisplay.reviewers[1].email}}&gt;
                {% else %}
                    <i>Nobody</i>
                {% endif %}
                </div>
                <div class="control-group">
                    <label class="control-label" for="reviewed3">
                        Reviewed by: 
                    </label>
                {% if questionToDisplay.reviewers[2] %}
                    {{questionToDisplay.reviewers[2].fullname}} 
                    &lt;{{questionToDisplay.reviewers[2].email}}&gt;
                {% else %}
                    <i>Nobody</i>
                {% endif %}
                </div>
                <br/ >
                <div class="control-group">
                    <button type="submit" class="btn btn-success center" name='button' value="good">
                        Looks Good 
                    </button>
                    <button type="submit" class="btn btn-warning center" name='button' value="needswork">
                        Needs Work 
                    </button>
                </div>
            </form>
        </td>
        <td style="vertical-align:top;" td width="50%">
            <h3>
                Similar Questions 
            </h3>
            <div class="tabbable">
                <ul class="nav nav-tabs">
                    {% for similarQuestion in similaryQuestionsToDisplay %}
                        {% if loop.first %}
                           <li class="active">
                        {% else %}
                           <li>
                        {% endif %}
                        <a href="#tab{{similarQuestion.id}}" data-toggle="tab">
                            #{{similarQuestion.id}}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                <div class="tab-content">
                    {% for similarQuestion in similaryQuestionsToDisplay %}
                        {% if loop.first %}
                           <div class="tab-pane active" id="tab{{similarQuestion.id}}">
                        {% else %}
                           <div class="tab-pane" id="tab{{similarQuestion.id}}">
                        {% endif %}
                        <p>
                            {{similarQuestion.question}} 
                        </p>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>
{% endblock %}