<ul class="nav nav-tabs">
    {% for similarQuestion in similarQuestionsToDisplay %}
        {% if loop.first %}
           <li class="active">
        {% else %}
           <li>
        {% endif %}
        <a href="#tab{{loop.index}}" data-toggle="tab">
            #{{loop.index}}
        </a>
    </li>
    {% endfor %}
</ul>
<div class="tab-content">
    {% for similarQuestion in similarQuestionsToDisplay %}
        {% if loop.first %}
           <div class="tab-pane active" id="tab{{similarQuestion.classID}}">
        {% else %}
           <div class="tab-pane" id="tab{{similarQuestion.classID}}">
        {% endif %}
        {% if similarQuestion.tags %}
            <p>{{similarQuestion.tags|safe}}</p> 
        {% endif %}
        {% if similarQuestion.instructions %}
            <p>{{similarQuestion.instructions|safe}}</p> 
        {% endif %}
        {% if similarQuestion.question %}
            <p>{{similarQuestion.question|safe}}</p> 
        {% endif %}
        {% if similarQuestion.examples %}
            <p>{{similarQuestion.examples|safe}}</p> 
        {% endif %}
        {% if similarQuestion.hints %}
            <p>{{similarQuestion.hints|safe}}</p> 
        {% endif %}
        {% if similarQuestion.answer %}
            <p>{{similarQuestion.answer|safe}}</p>
        {% endif %}
        </div> 
    {% endfor %}
</div>
