<ul class="nav nav-tabs">
    {% for similarQuestion in similarQuestionsToDisplay %}
        {% if loop.first %}
           <li class="active">
        {% else %}
           <li>
        {% endif %}
        <a href="#tab{{loop.index}}" data-toggle="tab">
            #{{loop.index}}
        </a>
    </li>
    {% endfor %}
</ul>
<div class="tab-content">
    {% for similarQuestion in similarQuestionsToDisplay %}
        {% if loop.first %}
           <div class="tab-pane active" id="tab{{loop.index}}">
        {% else %}
           <div class="tab-pane" id="tab{{loop.index}}">
        {% endif %}
        <p>{{similarQuestion.tags}}</p> 
        <p>{{similarQuestion.instructions}}</p> 
        <p>{{similarQuestion.question}}</p> 
        <p>{{similarQuestion.examples}}</p> 
        <p>{{similarQuestion.hints}}</p> 
        <p>{{similarQuestion.answer}}</p>
        </div> 
    {% endfor %}
</div>
