{% extends "layout.html" %} {% block content %} 
<h2 class="text-center">
    Unapproved User
</h2>
<h3>Sorry, but you must first be approved by one of the following administrators:<h3>
<table class="table table-striped table-bordered">
<thead>
<tr>
<td>Full Name</td>
<td>Nickname</td>
<!--td>Email Address</td-->
{% for superuser in superusers %}
    <tr>
        <td>{{superuser.nickname}}</td>
        <td>{{superuser.fullname}}</td>
        <!--td>{{superuser.email}}</td-->
    <tr>
{% endfor %}
</table> 
{% endblock %}