{% extends "layout.html" %} {% block content %} 
<h2 class="text-center">
    Approve Users
</h2>
<table class="table table-striped table-bordered">
<thead>
<tr>
<td>ID</td>
<td>Full Name</td>
<td>Nickname</td>
<td>Email Address</td>
{% if unverifiedUsers %}
    {% for unverifiedUser in unverifiedUsers %}
        <tr>
            <td><a href="verifyingUser?id={{unverifiedUser.id}}">{{unverifiedUser.id}}</a></td>
            <td>{{unverifiedUser.nickname}}</td>
            <td>{{unverifiedUser.fullname}}</td>
            <td>{{unverifiedUser.email}}</td>
        <tr>
    {% endfor %}
{% endif %}
</table> 
{% endblock %}